<!-- Bootstrap Javascript and jQuery files-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/navbar.js" charset="utf-8"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

<footer>
  <div class="container-fluid sectionPadding grassGreen">
    <div class="row">
      <div class="col-md-4">
        <h2>Location</h2>
        <p>5875 S. Rainbow Boulevard, Suite 110</p>
        <p>Las Vegas, NV 89118</p>
        <h2>Hours of Operation:</h2>
        <br>
        <p>Monday - Saturday: 9am to 6pm</p>
        <p>Coming Soon</p>
      </div>
      <div class="col-md-4">
        <img class="mapPic" src="images/map.png" alt="Google Map Picture">
      </div>
      <div class="col-md-4">
        <h2>Follow Us:</h2>
        <button type="button" class="btn" onclick=""><i class="socialIcons fab fa-youtube"></i></button>
        <button type="button" class="btn" onclick="document.location='https://facebook.com/kidstownlv'"><i class="socialIcons fab fa-facebook-f"></i></button>
        <button type="button" class="btn" onclick="document.location='https://www.instagram.com/kidstownlv/'"><i class="socialIcons fab fa-instagram"></i></button>
        <!-- <button type="button" class="btn" onclick="document.location='contact.html'"><i class="socialIcons fas fa-envelope"></i></button> -->
      </div>
    </div>
    <br>
    <p>© Copyright 2021 Kids Town</p>
  </div>

</footer>

</html>
