<!-- Header Section -->
<%- include("partials/header"); -%>

<!-- Navbar -->
<%- include("partials/navbar"); -%>

  <div class="container-fluid skyBlue homeSection">
    <h1>Kids Town Owners</h1>
    <p><strong><%= content %></strong></p>
  </div>

<!-- Footer Section -->
<%- include("partials/footer"); -%>
