<!-- Header Section -->
<%- include("partials/header"); -%>

<!-- Navbar -->
<%- include("partials/navbar"); -%>

  <div class="container-fluid skyBlue homeSection">
    <h1>Kids Town Owners</h1>
    <div class="row">
      <div class="col-lg-4 col-sm-12 my-auto">
        <img class="img-fluid aboutPic" src="images/familyPic.png" alt="Family Picture">
      </div>
      <div class="col-lg-8 col-sm-12 my-auto aboutText">
        <p><%= content %></p>
      </div>
    </div>
  </div>

<!-- Footer Section -->
<%- include("partials/footer"); -%>
