<!-- Header Section -->
<%- include("partials/header"); -%>

<!-- Navbar -->
<%- include("partials/navbar"); -%>

<div class="container-fluid homeSection skyBlue">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow-sm">
        <img class="card-img-top" width="100%" height="auto" src="images/lemonStand.png" alt="pic">
        <div class="card-body">
          <p class="card-text">Lemonade Stand</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img class="card-img-top" width="100%" height="auto" src="images/candyStand.png" alt="pic">
        <div class="card-body">
          <p class="card-text">Candy case for the Sweet Shoppe</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Footer Section -->
<%- include("partials/footer"); -%>
