<!-- Header Section -->
<%- include("partials/header"); -%>

<!-- Navbar -->
<%- include("partials/navbar"); -%>

<div class="container-fluid homeSection grassGreen">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow-sm">
        <img class="card-img-top" width="100%" height="225" src="images/beautySalon.png" alt="pic">
        <div class="card-body">
          <p class="card-text">Candy case for the Sweet Shoppe</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img class="card-img-top" width="100%" height="225" src="images/beautySalon.png" alt="pic">
        <div class="card-body">
          <p class="card-text">This is a picture that is pretty cool and we love it</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Footer Section -->
<%- include("partials/footer"); -%>
