<!-- Header Section -->
<%- include("partials/header"); -%>

<!-- Navbar -->
<%- include("partials/navbar"); -%>

  <div class="container-fluid homeSection skyBlue">
    <h1>Kids Town Liability Waiver</h1>
    <p>In consideration of being allowed to enter into the play area and/or participate in any party/program or any other event at Kids Town,
      the undersigned, on his or her own behalf and/or on behalf of the participant(s) identified below, acknowledges, appreciates and agrees
      to the following:</p>
    <p>I understand that any activities involved at Kids Town can be dangerous and hazardous. The activities at Kids Town, require certain
      degrees of skill, ability, physical condition, and participants must be in good health. I understand that these activities can result in
      serious injury, disability and/or death to the participants and/or me. I assume any and all risks, damages or injuries I/we may incur
      while on Kids own premises. In addition, if I/we observe any hazard/danger during our participation, I/we will bring it to the attention
      of the nearest Kids Town employee and/or management immediately. </p>

  </div>


<!-- Footer Section -->
<%- include("partials/footer"); -%>
