<!-- Header Section -->
<%- include("partials/header"); -%>

<!-- Navbar -->
<%- include("partials/navbar"); -%>

<div class="container-fluid homeSection skyBlue">
  <div class="border rounded-3 waiverDoc">
    <h1 class="timesNew textCenterAlign">Kids Town Liability Waiver</h1>
    <p>In consideration of being allowed to enter into the play area and/or participate in any party/program or any other event at Kids Town,
      the undersigned, on his or her own behalf and/or on behalf of the participant(s) identified below, acknowledges, appreciates and agrees
      to the following:</p>
    <p>&#9642; I understand that any activities involved at Kids Town can be dangerous and hazardous. The activities at Kids Town, require certain
      degrees of skill, ability, physical condition, and participants must be in good health. I understand that these activities can result in
      serious injury, disability and/or death to the participants and/or me. I assume any and all risks, damages or injuries I/we may incur
      while on Kids own premises. In addition, if I/we observe any hazard/danger during our participation, I/we will bring it to the attention
      of the nearest Kids Town employee and/or management immediately. </p>
    <p class="indent">&#9642; I, for me and the participants named below, and our respective heirs, assigns, administrators, personal representatives, and next of kin,
      hereby release and forever discharge and hold harmless Kids Town, and their officers, members, agents, employees, directors, trustees, affiliates,
      other participants and all other persons and entities acting on their behalf, from any and all claims, actions, damages, injuries, liabilities,
      costs or expenses, including attorney fees. I/we forever waive the right to sue or exercise any legal actions against Kids Town and its management,
      staff, and associates.</p>
    <p class="indent">&#9642; I have reviewed the operational rules and understand that it is my responsibility to ask questions about the operational rules and
      regulations if necessary. I understand that it is my responsibility to ensure that I/my children understand the rules. Although there are Kids Town employees
      that may observe children/adults playing, it is my responsibility to supervise my children and my own activities. Kids Town is not an insurer or guarantor of
      your children's safety and by admitting your children, Kids Town does not assume the parental responsibility to supervise and direct your children's activities.
      I will bring any observation of the rules being broken to the attention of a Kids Town staff member. I certify that I and/or my child(ren) are in good health and
      that I and/or my child(ren) have no physical limitations, which would preclude safe participation at Kids Town.</p>
    <p class="indent">&#9642; I understand that as a parent/guardian, I may not leave the facility at any time without another adult taking full responsibility for supervising
      my child(ren). I am fully aware that any child left in the facility without any parent/guardian will be immediately turned over to the authority except for those children
      accounted for by our staff as drop-off children. -I agree that pictures of myself or my supervised child(ren) are from time to time taken at Kids Town by employees or other
      patrons and could be used for promotional purposes including website visibility. I consent to the reproduction, use, and distribution of pictures, videos, and sound for the
      purpose of advertising to be used in electronic, print and Internet media.</p>
    <p class="indent">&#9642; I understand that I may not bring ANY outside food or drinks into Kids Town except is specifically authorized by Kids Town management or staff.</p>
    <p class="indent">&#9642; I acknowledge that for me, and participants named below, participation in activities at Kids Town is strictly voluntary. I hereby certify that I am
      over 18 years of age and voluntarily agree to all terms, conditions and responsibilities set forth in the above terms and conditions. I am aware that by signing this agreement,
      I am agreeing to comply with all rules set forth by Kids Town.</p>
    <p class="indent">&#9642; I understand and agree that NO REFUND will be given to my family or me if we have stayed 20 minutes or more regardless of the situation. I am also aware
      that all children ages 1 to 17 MUST be accompanied by a guardian supervising adult(s).</p>
    <p>PLEASE REVIEW KIDS TOWN’S SAFETY RULES WITH YOUR CHILDREN AND ENSURE THAT THEY ARE NOT CHEWING ON ANYTHING AT ALL TIMES WHILE ON THE SOFT FLOOR TO AVOID CHOKING OR VOMITING. IF
      THE STAFF FEELS A CHILD IS UNHEALTHY TO CONTINUE PLAY, KIDS TOWN STAFF MAY STOP THEIR PLAY. </p>
    <p>As Kids Town is a child/parent environment, their designated supervising adult(s) are responsible for child(ren) in their care. While the staff will work hard to ensure everyone
      plays together and has a great time, if a child is unable to follow the facility rules, the following steps will be taken to ensure other guests are able to enjoy their playtime.</p>
    <p>1st Warning: The rule will be reviewed with the child again to ensure complete understanding of Kids Town safety rules.</p>
    <p>2nd Warning: The parent will be notified of the child's behavior and a last warning given.</p>
    <p>3rd Warning: The child will be asked to discontinue play for at least 20 minutes (including the possibility of leaving Kids Town with no possibility of a refund).</p>
    <p>By the execution of this agreement, it is my intention to assume all risk of illness or injury (minor, serious or catastrophic in nature, including claims and suits at law or
      in equity for any injury, fatal or otherwise) or damage (to person or property) and do hereby surrender and waive any rights to sue or exercise any legal right to seek damages
      against Kids Town, its owners, agents, employees, officers and/or all other persons or entities acting on its behalf and agrees to indemnify Kids Town and its owners, employees
      or agents and hold it harmless from and against all claims asserted against it by any entity based upon my children's participation in any parties or programs at Kids Town.</p>
    <hr>

    <form class="row g-3">
      <div class="col-md-6 form-floating mb-3">
        <input type="text" class="form-control" placeholder="First Name">
        <label for="floatingInput">First Name</label>
      </div>
      <div class="col-md-6 form-floating mb-3">
        <input type="text" class="form-control" placeholder="Last Name">
        <label for="floatingPassword">Last Name</label>
      </div>
      <div class="col-md-6 form-floating mb-3">
        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
        <label for="inputEmail4" class="form-label">Email</label>
      </div>
      <div class="col-md-6 form-floating mb-3">
        <input type="text" class="form-control" id="inputPhone" placeholder="Phone Number">
        <label for="inputPhone" class="form-label">Phone Number</label>
      </div>
      <div class="col-12 form-floating mb-3">
        <input type="text" class="form-control" id="inputAddress" placeholder="Address">
        <label for="inputAddress" class="form-label">Address</label>
      </div>
      <div class="col-12 form-floating mb-3">
        <input type="text" class="form-control" id="inputPhone" placeholder="Address 2">
        <label for="inputAddress2" class="form-label">Address 2</label>
      </div>
      <div class="col-md-6 form-floating mb-3">
        <input type="text" class="form-control" id="inputCity" placeholder="City">
        <label for="inputCity" class="form-label">City</label>
      </div>
      <div class="col-md-4 form-floating mb-3">
        <input type="text" class="form-control" id="inputState" placeholder="State">
        <label for="inputState" class="form-label">State</label>
      </div>
      <div class="col-md-2 form-floating mb-3">
        <input type="text" class="form-control" id="inputZip" placeholder="Zip Code">
        <label for="inputZip" class="form-label">Zip Code</label>
      </div>
      <p>Signer Child List: </p>
      <div class="col-12 form-floating mb-3">
        <input type="text" class="form-control" id="inputChildList" placeholder="Name(s)">
        <label for="inputChildList" class="form-label">Name(s)</label>
      </div>
      <p>I agree: </p>
      <p>By entering my information, I indicate my acceptance and delivery of this waiver and release. I accept all the terms and conditions and understand that this waiver
        is subject to change. I acknowledge that I have been given an opportunity to prevent or correct any error in connection with this waiver form. If I have submitted
        this waiver form in error, I will immediately notify Kids Town of the error, revoke my signature as instructed, and refrain from participating in any event or
        activity to which the waiver applies.</p>
      <div class="col-md-6 form-floating mb-3">
        <input type="date" class="form-control" id="inputDate" placeholder="Date">
        <label for="inputDate" class="form-label">Date</label>
      </div>
      <div class="col-md-6 form-floating mb-3">
        <input type="time" class="form-control" id="inputTime" placeholder="Time">
        <label for="inputTime" class="form-label">Time</label>
      </div>
      <p>Signature:</p>
    </form>
    <div class="container-fluid">
      <div class="wrapper">
        <canvas class="signature-pad" id="signature-pad" width="1200" height="100"></canvas>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row justify-content-center waiverRow">
        <div class="col-auto">
          <button id="clear" class="btn btn-secondary btn-lg"><span> Clear </span></button>
        </div>
        <div class="col-auto">
          <button id="undo" class="btn btn-secondary btn-lg"><span> Undo </span></button>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-auto">
          <button class="btn btn-primary btn-lg" type="submit" name="button">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Script for Digital Signature Pad -->
<script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
<script>
  var canvas = document.getElementById("signature-pad");

  function resizeCanvas() {
      var ratio = Math.max(window.devicePixelRatio || 1, 1);
      canvas.width = canvas.offsetWidth * ratio;
      canvas.height = canvas.offsetHeight * ratio;
      canvas.getContext("2d").scale(ratio, ratio);
  }

  window.onresize = resizeCanvas;
  resizeCanvas();

  var signaturePad = new SignaturePad(canvas, {
   backgroundColor: 'rgb(255,255,255)'
  });

  document.getElementById("clear").addEventListener('click', function(){
   signaturePad.clear();
  });

  document.getElementById('undo').addEventListener('click', function () {
	var data = signaturePad.toData();
  if (data) {
    data.pop(); // remove the last dot or line
    signaturePad.fromData(data);
  }
});
</script>


<!-- Footer Section -->
<%- include("partials/footer"); -%>
