body {
  background-color: white;
  text-align: center;
  font-family: "Josefin Slab", serif;
}

h1 {
  font-family: "Luckiest Guy", sans-serif;
  padding-bottom: 4%;
}

hr {
  height:5px;
  border-width:100;
  color:gray;
  background-color:gray
}


.mainLogo {
   display: block;
   margin: auto;
   width: 60%;
   height: 60%;
}

 .navbar-toggler {
   margin-left: 2%;
 }

 .navbar-dark .navbar-nav .nav-link {
     color: white;
 }

 .nav-link {
   font-family: "Luckiest Guy", cursive;
   color: red;
 }

.navImg {
  margin-left: 2%;
  width: 10%;
  height: auto;
}

.socialIcons{
  margin: 10px 10px;
}

.btn:hover {
  color: white;
}

 /*Sections*/
.homeSection {
   padding: 10% 10% 5% 10%;
}

.comingSection {
  padding: 10% 10% 5% 10%;
}

.comingTile {
  padding: 2%;
  color: white;
  align-content: center;
}

.townRow {
   padding-top: 2%;
   padding-bottom: 2%;
}

.townPic {
  align-content: center;
  padding: 4% 2%;
}

.townText {
  display: flex;
  align-items: center;
  padding: 10%;
}

 .rotateLeft {
   transform: rotate(-25deg);
 }

 .rotateRight {
   transform: rotate(25deg);
 }

 .footSection {
   padding: 10% 10% 5% 10%;
 }

 /*TEXT-ALIGN*/
.textLeftAlign {
  text-align: left;
}

.textRightAlign {
  text-align: right;
}

.textCenterAlign {
  text-align: center;
}

/*COLORS*/
.skyBlue {
  background-color: #A1CAE2;
}

.black {
  background-color: Black;
}

.grassGreen {
  background-color: #A8DDA8;
}


.sodaLogo {
  width: 100%;
  height: auto;
  padding-bottom: 2%;
}

.pad {
  padding: 4% 5%;
  align-content: center;
}

.padTile {
  padding: 3% 2%;
}

/*The Waiver*/
.waiverDoc {
  background-color: white;
  text-align: left;
  font-family: "Times New Roman", serif;
  padding: 5% 5%;
}

.timesNew {
  font-family: "Times New Roman", serif;
}

.indent {
  margin-left: 2rem;
}

.signatureBox {
  border-color: Black;
  border: 2rem;
  border-radius: 2;
}

.flex-row {
  display: flex;
}

.wrapper {
  border: 1px solid Black;
  border-radius: 5;
}

.btn-lg {
  margin: 2%;
}

.waiverRow {
  margin-top: 1%;
  margin-bottom: 2%;
}


canvas#signature-pad {
    width: 100%;
    height: 100%;
    cursor: crosshair;
}

#theTown {
  padding-top: 10%;
  padding-bottom: 5%;
}


@media (max-width: 1028px) {
  .rotateLeft {
    transform: rotate(0deg);
  }
  .rotateRight {
    transform: rotate(0deg);
  }
  .townPic {
    padding: 10% 2%;
  }

  .homeSection {
    padding-top: 20%;
  }

  #theTown {
    padding-top: 20%;
    padding-bottom: 5%;
  }

  .navbar-nav .nav-link {
    padding-left: 2%;
  }

  .waiverRow {
    margin-top: 3%;
    margin-bottom: 1%;
  }
}
